# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.metadata
.macos/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
ios/Podfile.lock

# Android related
android/.gradle/
android/captures/
android/app/build/

# VS Code related
.vscode/

# Xcode related
xcuserdata/
DerivedData/
*.xcworkspace
*.xcodeproj/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Others
*.log
*.lock
*.DS_Store
*.jks
*.keystore
!.gitignore

# Environment files
.env
.env.*
